In [9]:
# narmalization
import numpy as py
import pandas as pd
data = pd.read_csv('/Users/vald/Downloads/DSA5208分布式计算/assignment1/nytaxi2022_cleaned.csv')
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_features = ["trip_duration","trip_distance", "extra", "total_amount", "passenger_count"]
data[numeric_features] = scaler.fit_transform(data[numeric_features])
data.head()

,trip_duration,passenger_count,trip_distance,RatecodeID,PULocationID,DOLocationID,payment_type,extra,total_amount
0,0.273193,0.600719,0.165635,1.0,142,236,1,1.681141,0.138560
1,-0.630028,-0.449011,-0.297847,1.0,236,42,1,-0.422256,-0.516831
2,-0.575675,-0.449011,-0.605927,1.0,166,166,1,-0.422256,-0.724435
3,-0.473363,-0.449011,-0.573211,1.0,114,68,2,-0.422256,-0.630483
4,2.164361,-0.449011,0.301954,1.0,68,163,1,-0.422256,0.771222